
	.navbar{
		margin-bottom: 0;
	}
	
    .tabela
    {
        font-weight: bold;
        font-family: Century Gothic;
    }

    .btn-indisponible
    { background-color:crimson; 

    }
    .btn-buy
    { background-color: #043b76; 
        color:azure;

    }
    .btn-details
    {
        background-color: #ffff66; 
        color:white;

    }
    
    .btn.custom-btn {
        background-color: lightcyan;
    }
